.about{
    margin-top: 137px;
    display: flex;
    &__img{
        margin-right: 45px;
    }
    &__title{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 63px;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 1.5rem;
        margin-bottom: 15px;
        line-height: 24px;
    }
}

@media (width <= 1200px) {
    .about{
        margin-top: 100px;
        padding: 0 20px;
        &__img{
            width: 460px;
            margin-right: 30px;
        }
        &__title{
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
}

@media (width <= 992px) {
    .about{
        margin-top: 60px;
        display: block;
        &__img{
            width: 100%;
            margin-right: 0;
        }
        &__title{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__text{
            margin-bottom: 15px;
        }
    }
}

@media (width <= 768px) {
    .about{
        margin-top: 60px;
        display: block;
        &__img{
            width: 100%;
        }
        &__title{
            font-size: 2rem;
        }
        &__text{
            font-size: 1.2rem;
        }
    }
}

@media (width <= 576px) {
    
}