.rations{
    margin-top: 100px;
    &__elem{
        width: 280px;
    }
    &__img{
        width: 100%;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    &__title{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 40px;
    }
    &__desc{
        margin-top: 20px;
        &-title{
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 800;
        }
        &-text{
            font-size: 1.4rem;
            margin-top: 25px;
        }
        &-kkal{
            display: block;
            margin-top: 23px;
            font-size: 1.4rem;
            color: #777777;
        }
        &-footer{
            margin-top: 26px;
            display: flex;
            justify-content: space-between;
        }
        &-cost{
            display: block;
            font-size: 2rem;
            font-weight: 700;
        }
        &-btn{
            border: none;
            font-size: 1.5rem;
            font-weight: 700;
            width: 136px;
            height: 35px;
        }
    }
}

@media (width <= 1200px) {
    .rations{
        padding: 0 20px;
        margin-top: 60px;
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        &__elem{
            width: 222px;
        }
        &__desc{
            &-text{
                height: 80px;
            }
            &-btn{
                border: none;
                font-size: 1.5rem;
                font-weight: 700;
                width: 100px;
                height: 35px;
            }
        }
    }
}

@media (width <= 992px) {
    .rations{
        padding: 0 20px;
        margin-top: 60px;
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
        &__elem{
            width: 340px;
        }
        &__desc{
            &-text{
                height: 50px;
            }
        }
    }
}

@media (width <= 768px) {
    .rations{
        padding: 0 20px;
        margin-top: 60px;
        &__elem{
            width: 253px;
        }
    }
}

@media (width <= 576px) {
    .rations{
        padding: 0 10px;
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        &__elem{
            width: 140px;
        }
        &__desc{
            margin-top: 20px;
            &-title{
                font-size: 1.6rem;
            }
            &-text{
                font-size: 1.2rem;
                margin-top: 10px;
            }
            &-cost{
                font-size: 1.6rem;
            }
            &-btn{
                font-size: 1.4rem;
                width: 80px;
            }
        }
    }
}